<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog : Joke</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/home.css">
    <link rel="stylesheet" href="styles/joke.css">

</head>
<body>
    <%- include('../partials/header')%>
    
    <header class="header">
        <div class="content">
            <h1>Here is your weather:</h1>

        <div> 
            <h1>Current Weather:</h1>
            
            <p>Temperature: <%= temperature %>°C</p>
            <p>Condition: <%= weatherDescription %></p>
            <p>Wind Speed: <%= windSpeed %> m/s</p>
            <p>Humidity: <%= humidity %>%</p>
          </div>
    </header>

    <%- include('../partials/footer')%>

<script src="js/home.js"></script>

</body>
</html>