<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeetCode</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./styles/login.css">
    <link rel="stylesheet" href="./styles/sign_in.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <link rel="stylesheet" href="./styles/stat.css">

</head>
<body>
  <table>
    <thead>
      <tr>
        <th></th>
        <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
              <th>
                <%= user.name %>
                <form class="edit" action="/edit" method="post" style="display:inline;">
                    <input type="hidden" name="update_user" value="<%= user.name %>">
                    <input id="input<%= user.name %>" type="text" name="updatedItem" placeholder="Edit name" autocomplete="off" autofocus="true" hidden />
                    <button id="done<%= user.name %>" class="edit" type="submit" hidden><img class="icon" src="/assets/icons/check-solid.svg" alt="tick image"></button>
                </form>
                <button id="edit<%= user.name %>" class="edit" onclick="handler('<%= user.name %>')"><img class="icon" src="/assets/icons/pencil-solid.svg" alt="pencil image"></button>
            </th>
            <% }) %>
            <th class="add-item">
                <form class="add-item" action="/add_name" method="post">
                    <div class="input-group" id="inputGroupNewUser" style="display: none;">
                        <input type="text" id="newUserName" name="userName" placeholder="New Name" autocomplete="off" autofocus />
                        <button class="add" type="submit" name="list" value="text">+</button>
                    </div>
                    <button id="addNewUserBtn" class="add" type="button" onclick="toggleAddNewUser()">+</button>
                </form>
            </th>
        <% } else { %>
            <th>No users found</th>
            <th class="add-item">
                <form class="add-item" action="/add_name" method="post">
                    <div class="input-group" id="inputGroupNewUser" style="display: none;">
                        <input type="text" id="newUserName" name="userName" placeholder="New Name" autocomplete="off" autofocus />
                        <button class="add" type="submit" name="list" value="text">+</button>
                    </div>
                    <button id="addNewUserBtn" class="add" type="button" onclick="toggleAddNewUser()">+</button>
                </form>
            </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
        <% if (users.length > 0) { %>
            <tr>
                <th>Total Solved</th>
                <% users.forEach(user => { %>
                    <td class="right-align"><%= user.total_solved %></td>
                <% }) %>
                <td></td>
            </tr>

            <tr>
                <th>Total Medium</th>
                <% users.forEach(user => { %>
                    <td class="right-align"><%= user.total_medium %></td>
                <% }) %>
                <td></td>
            </tr>

            <tr>
                <th>Total Hard</th>
                <% users.forEach(user => { %>
                    <td class="right-align"><%= user.total_hard %></td>
                <% }) %>
                <td></td>
            </tr>

            <tr>
                <th>Acceptance Rate</th>
                <% users.forEach(user => { %>
                    <td class="right-align"><%= user.acceptance_rate %></td>
                <% }) %>
                <td></td>
            </tr>

            <tr>
                <th>Rank</th>
                <% users.forEach(user => { %>
                    <td class="right-align"><%= user.ranking %></td>
                <% }) %>
                <td></td>
            </tr>
        <% } %>
    </tbody>
</table>

</body>
<script>
  function handler(itemId) {
      document.getElementById('input' + itemId).hidden = false;
      document.getElementById('done' + itemId).hidden = false;
      document.getElementById('edit' + itemId).hidden = true;
  }
  
  function toggleAddNewUser() {
      const inputGroup = document.getElementById('inputGroupNewUser');
      const addNewUserBtn = document.getElementById('addNewUserBtn');
      inputGroup.style.display = inputGroup.style.display === 'none' ? 'flex' : 'none';
      addNewUserBtn.style.display = addNewUserBtn.style.display === 'none' ? 'block' : 'none';
  }
  </script>
  
  
</html>